<div class="px-5"><p class="is-size-5" style="padding-bottom: 1rem;">IGCSE levels</p>
  <table>
    <tr>
      <th style="padding-right: 8rem;">Subject</th>
      <th>Grade</th>
    </tr>
    <tr>
      <td>Mathematics</td>
      <td>A*</td>
    </tr>
    <tr>
      <td>Physics</td>
      <td>A*</td>
    </tr>
    <tr>
      <td>Chemistry</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Biology</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Geography</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Design & Technology</td>
      <td>A*</td>
    </tr>
    <tr>
      <td>English Language</td>
      <td>A</td>
    </tr>
    <tr>
      <td>English Literature</td>
      <td>A</td>
    </tr>
    <tr>
      <td>French</td>
      <td>A</td>
    </tr>
  </table>
</div>
<div class="pt-5 px-5">
  <p class="is-size-5" style="padding-bottom: 1rem;">AS levels</p>
  <table>
    <tr>
      <th style="padding-right: 8rem;">Subject</th>
      <th>Grade</th>
    </tr>
    <tr>
      <td>Mathematics</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Physics</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Chemistry</td>
      <td>A</td>
    </tr>
    <tr>
      <td>English Language</td>
      <td>E</td>
    </tr>
  </table>
</div>

<div class="pt-5 px-5">
  <p class="is-size-5" style="padding-bottom: 1rem;">A levels</p>
  <table>
    <tr>
      <th style="padding-right: 8rem;">Subject</th>
      <th>Grade</th>
    </tr>
    <tr>
      <td>Mathematics</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Physics</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Chemistry</td>
      <td>A</td>
    </tr>
  </table>
</div>
