<div style='padding-left: 1rem;'>
  <li>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" class="has-text-black-bis">HTML</a>
  </li>
  <li>
    <a href="https://en.wikipedia.org/wiki/CSS" class="has-text-black-bis">CSS</a>
  </li>
  <li>
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="has-text-black-bis">JavaScript</a>
  </li>
  <li>
    <a href="https://reactjs.org/" class="has-text-black-bis">React</a>
  </li>
  <li>
    <a href="https://vuejs.org//" class="has-text-black-bis">Vue</a>
  </li>
</div>